// Fonts
$default-font: 'Commissioner', sans-serif; //400 700
$second-font: 'DrukWideCyr', sans-serif; //700


$default-transition-duration: 0.35s;
$fast-transition-duration: 0.2s;
$default-transition-function: ease-out;

$hd-2: 2560px;
$hd: 1920px;
$xl-2: 1650px;
$xl: 1440px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 568px;
$xxs-2: 375px;
$xxs: 320px;



$c-body-bg: #ececec;
$c-gray-1: #efefef;
$c-gray-2: #747474;
$c-text-black: #202020;
$c-black: #202020;
$c-text-white: #fff;
$c-white: #fff;
$c-white-rgba-20: rgba(255,255,255, 0.2);
$c-text-green: #2E8D43;
$c-green: #2E8D43;
$c-text-orange: #F36722;
$c-orange: #F36722;
