// Fonts
$default-font: 'DrukWideCyr', sans-serif; //700
$second-font: 'Commissioner', sans-serif; //400 700

$default-transition-duration: 0.35s;
$fast-transition-duration: 0.2s;
$long-transition-duration: 0.6s;
$default-transition-function: ease-out;

//media
$breakpoint-4k-half: 2800px;
$breakpoint-hd: 1920px;
$breakpoint-2xl: 1620px;
$breakpoint-xl: 1440px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 568px;
$breakpoint-xxs-1: 430px;
$breakpoint-xxs-2: 375px;
$breakpoint-xxs-3: 360px;
$breakpoint-xxs: 320px;

//container
$container-max-width-native: 1920;
$container-max-width: 1920px;
$container-padding: 2rem;
$container-padding-md: 20px;
$container-padding-sm: 12px;

/* Section */
$section-padding: 3rem 0;
$section-padding-md: 30px 0;
$section-padding-sm: 20px 0;

/* Typography */
// h1
$h1-font: $default-font;
$h1-font-size: 8rem;
$h1-font-size-2xl: 6.2rem;
$h1-font-size-xl: 4.2rem;
$h1-font-size-md: 42px;
$h1-font-size-sm: 42px;
$h1-font-size-xs: 26px;
$h1-font-weight: 700;
$h1-line-height: 1.2;
$h1-color: currentColor;

// h2
$h2-font: $default-font;
$h2-font-size: 8rem;
$h2-font-size-2xl: 6.2rem;
$h2-font-size-xl: 4.2rem;
$h2-font-size-md: 32px;
$h2-font-size-sm: 32px;
$h2-font-size-xs: 26px;
$h2-font-weight: 700;
$h2-line-height: 1.2;
$h2-color: currentColor;

// h3
$h3-font: $default-font;
$h3-font-size: 4.8rem;
$h3-font-size-2xl: 4.6rem;
$h3-font-size-xl: 4.2rem;
$h3-font-size-md: 42px;
$h3-font-size-sm: 32px;
$h3-font-size-xs: 20px;
$h3-font-weight: 700;
$h3-line-height: 1.2;
$h3-color: currentColor;

//colors
$c-body-bg: #ececec;
$c-gray-1: #efefef;
$c-gray-2: #747474;
$c-text-black: #202020;
$c-black: #202020;
$c-text-white: #fff;
$c-white: #fff;
$c-white-rgba-20: rgba(255,255,255, 0.2);
$c-shadow: rgba(23, 23, 23, 0.3);
$c-text-green: #2E8D43;
$c-green: #2E8D43;
$c-text-orange: #F36722;
$c-orange: #F36722;

//border-radius
$border-radius: 2rem;
$border-radius-md: 20px;
$border-radius-sm: 10px;
