$default-font-family: 'Stolzl', sans-serif;

$default-transition-duration: 0.35s;
$fast-transition-duration: 0.2s;
$default-transition-function: ease-out;

$hd-2: 2560px;
$hd: 1920px;
$xl-2: 1650px;
$xl: 1440px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 568px;
$xxs-2: 375px;
$xxs: 320px;

$c-yellow: #fade45;
$c-yellow-hover: #f8da34;
$c-yellow-click: #e9d046;
$c-yellow-disabled: rgba(#fade4566, 0.4);
$c-grey-dark: #686b6f;
$c-grey-body: #f4f2f2;
$c-black-body: #1d2227;
$c-black-bg: #0d0e0e;
$c-title: #212121;
$c-text-dark: #23231f;
$c-text-light: #edeff1;
$c-text-light-2: #eee9e9;
