.play {
	
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.9rem;

		@media (max-width:$breakpoint-md) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 8px;
		};

		@media (max-width: $breakpoint-sm) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		};

		.play-card {
			flex: 1 1 33.333%;
		}
	}
}