.head-page {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 3rem;

	.into {
		margin-bottom: 1.4rem;

		@media (max-width:$breakpoint-xl) {
			margin-bottom: 0;
		};
	}
}