extends ../components/layouts/default
include ../components/ui-kit/logo/logo
include ../components/ui-kit/navigate/navigate
include ../components/ui-kit/picture/picture
include ../components/ui-kit/head-page/head-page
include ../components/ui-kit/into/into
include ../components/ui-kit/play-card/play-card
include ../components/ui-kit/btn/btn

block variables
	- const title = "xpage"
	- let headerNavItems = [{text: 'играть', link: 'somepage.html', isActive: true},{text: 'смотреть', link: 'somepage.html', isActive: false},{text: 'учиться', link: 'somepage.html', isActive: false},{text: 'мероприятия', link: 'somepage.html', isActive: false}]
	- let cards = [{imgSrc: '../../img/play/play-1-hd.png',	srcsetHd: '../../img/play/play-1-hd.png', srcsetXs: '../../img/play/play-1-xs.png', media: 568, type: 'png', picClassMode: '', alt: 'Игра в баскетбол', modClass: '', cardTitle: 'Найди себе команду', cardText: 'Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.', href: 'page.html', btnText: 'текст кнопки', btnMode: ''},{imgSrc: '../../img/play/play-2-hd.png', srcsetHd: '../../img/play/play-2-hd.png', srcsetXs: '../../img/play/play-2-xs.png', media: 568, type: 'png', picClassMode: '', alt: 'Баскетбольный мяч', modClass: 'ball', cardTitle: 'Создавай команды', cardText: 'Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.', href: 'page.html', btnText: 'текст кнопки', btnMode: ''},{imgSrc: '../../img/play/play-3-hd.png',	srcsetHd: '../../img/play/play-3-hd.png', srcsetXs: '../../img/play/play-3-xs.png', media: 568, type: 'png', picClassMode: '', alt: 'Игра в баскетбол', modClass: '', cardTitle: 'Участвуй в турнирах', cardText: 'Участвуйте в турнирах вместе с вашей командой. Будьте активными, побеждайте и получайте ачивки и призы от наших спонсоров.', href: 'page.html', btnText: 'текст кнопки', btnMode: ''}]
block content
	include ../components/blocks/hero/hero
	include ../components/blocks/play/play

block scripts
	//- script(src="js/vendor.js")
	script(src="js/main.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")