section.section.section--hero
	.container 
		.section__body
			.hero
				.hero__swiper.swiper(data-slider-fade)
					.hero__swiper-wrapper.swiper-wrapper
						.hero__swiper-slide.swiper-slide
							+picture('../../img/hero/1-mobile.webp', '../../img/hero/1.webp', '../../img/hero/1.jpg', 568, 'Игра в баскетбол', 'webp', '')
						.hero__swiper-slide.swiper-slide
							+picture('../../img/hero/2-mobile.webp', '../../img/hero/2.webp', '../../img/hero/2.jpg', 568, 'Игра в баскетбол', 'webp', '')
						.hero__swiper-slide.swiper-slide
							+picture('../../img/hero/3-mobile.webp', '../../img/hero/3.webp', '../../img/hero/3.jpg', 568, 'Игра в баскетбол', 'webp', '')
					.swiper-pagination
