section.section.learn
	.container 
		.section__wrapper.section__wrapper--gap
			.section__head
				+head-page('Учись', 'в раздел', 'green', "somepage.html")
			.section__body.section__body--aside
				.section__content.section__content--gap
					.learn__center
						.learn__center-image
							+picture('../../img/learn/learn-xs.webp', '../../img/learn/learn-hd.webp', '../../img/learn/learn-hd.jpg', '568', 'Спортивная игра', 'webp', '')
						.learn__center-content
							h3.h3.learn__head мы&nbsp;собрали секции для&nbsp;детей по&nbsp;всему городу
							.learn__center-tags
								+tag(tagInfo, 'green', '')
					.learn__choice
						h3.h3.learn__head Подбери тренера под свой уровень
						.learn__choice-tags
							+tag(tagLink, 'green', 'row')
				.section__right.section__right--md-hide
					.learn__parts
						.learn__parts-container
							.learn__parts-block
								+materials(vodeLessons, vodeLessonsTags)
							.learn__parts-block
								+materials(papers, papersTags)
							.learn__parts-block
								+materials(terms, termsTags)

