.section {
	padding: 6rem 0;

	@media (max-width: $breakpoint-md) {
		padding: 60px 0;
	};

	@media (max-width: $breakpoint-md) {
		padding: 21px 0;
	}

	&--hero {
		padding: 0.8rem 0 6rem;

		@media (max-width: $breakpoint-md) {
			padding: 8px 0 60px;
		};

		@media (max-width: $breakpoint-md) {
			padding: 8px 0 21px;
		}
	}

	&__wrapper {

		&--gap {
			display: flex;
			flex-direction: column;
			gap: 6.4rem;

			@media (max-width:$breakpoint-md) {
				gap: 64px;
			};

			@media (max-width: $breakpoint-sm) {
				gap: 40px;
			};

			@media (max-width:$breakpoint-xs) {
				gap: 21px;
			};
		}
	}

	&__content {

		&--gap {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@media (max-width:$breakpoint-md) {
				gap: 20px;
			};

			@media (max-width: $breakpoint-sm) {
				gap: 8px;
			};
			@media (max-width:$breakpoint-xs) {
				gap: 21px;
			};
		}
	}
}