.section {
	padding: 6rem 0;

	@media (max-width: $breakpoint-md) {
		padding: 60px 0;
	};

	@media (max-width: $breakpoint-md) {
		padding: 21px 0;
	}

	&--hero {
		padding: 0.8rem 0 6rem;

		@media (max-width: $breakpoint-md) {
			padding: 8px 0 60px;
		};

		@media (max-width: $breakpoint-md) {
			padding: 8px 0 21px;
		}
	}

	&__wrapper {

		&--gap {
			display: flex;
			flex-direction: column;
			gap: 6.4rem;

			@media (max-width:$breakpoint-md) {
				gap: 64px;
			};

			@media (max-width: $breakpoint-sm) {
				gap: 40px;
			};

			@media (max-width:$breakpoint-xs) {
				gap: 21px;
			};
		}
	}

	&__content {

		&--gap {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			@media (max-width:$breakpoint-md) {
				gap: 20px;
			};

			@media (max-width: $breakpoint-sm) {
				gap: 8px;
			};
		}
	}

	&__body {

		&--aside {
			display: flex;

			.section {

				&__content {
					flex: 0 1 100%;
				}

				&__right {
					flex: 1 0 68.3rem;

					@media (max-width: $breakpoint-2xl) {
						flex: 1 0 52rem;
					};

					@media (max-width:$breakpoint-lg) {
						flex: 1 0 40rem;
					};

					&--md-hide {
						
						@media (max-width:$breakpoint-md) {
							position: absolute;
							z-index: -1;
							opacity: 0;
							visibility: hidden;
						};
					}
				}
			}
		}
	}
}